MvcRentC/Connected Services/ServiceReference1/MvcRentC.Models.ModelsForWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MvcRentC.Models.ModelsForWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MvcRentC.Models.ModelsForWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCarsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarsDTO" nillable="true" type="tns:CarsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarsDTO" nillable="true" type="tns:ArrayOfCarsDTO" />
  <xs:complexType name="CarsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarID" type="xs:int" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PricePerDay" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarsDTO" nillable="true" type="tns:CarsDTO" />
</xs:schema>