MvcRentC/Connected Services/ServiceReference1/WcfServiceLibrary1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Date">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Date" nillable="true" type="tns:Date" />
</xs:schema>